/* global CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: Montserrat;
    /* font-family: 'Poppins', sans-serif; */
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    color: #1D1B1B;
}

section {
    margin: 40px 0px;
}


.custom-btn {
    border: 1px solid #EF0178;
    background: #fff;
    color: #EF0178;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

/* banner style start */

.banner .banner-content h1 {
    font-size: 55px;
    font-weight: 700;
}

.banner .banner-content span {
    color: #EF0178;
}

/* banner style end */

/* meet clients style start */

.client-content p {
    color: #EF0178;
}

.client-content h5 {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}


/* meet clients style end */

/* developer style start */
.developer-content span {
    color: #5243C2;
}

.developer-content .fa-solid {
    color: #5243C2;
    padding-right: 15px;
}


/* developer style end */
/* service style start */

.service-content p {
    color: #EF0178;
}

/* service style end */

/* hire style start */

.hire {

    background: url(../img/Group\ 48095496.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hire-content {
    background-color: #5243C2;
    border-radius: 20px;
}

.hire-content h3 {
    color: white;
    font-weight: 700;
    line-height: 50px;
}

.hire-content .custom-btn {
    background-color: #EF0178;
    color: white;
    padding: 16px 40px;
    font-size: 16px;
}

/* hire style end */

/* price style start */



.price .price-card {
    box-shadow: 0px 7px 33px -18px;
    border-radius: 20px;
    transition: all linear 0.5s;
    transform: translateY(0px);

}

.price .price-card span {
    font-size: 16px;
}

.text-color {
    color: #918fa0;
}

.price .custom-btn {
    background-color: #EF0178;
    border-radius: 20px;
    color: #fff;
    border: none;
    padding: 10px 45px;
}

.price .price-card:hover {
    background-color: #5243C2;
    color: #fff;
    transform: translateY(-30px);
    box-shadow: 6px 6px 40px 10px grey;

}

/* price style end */

/* slider style start */

.slider {
    background-color: #F7F7F7;
}


.carousel-btn-prev,
.carousel-btn-next {
    background-color: #7052C1;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50%;
}

.carousel-card-content {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    margin-top: -20px;
    padding-top: 30px;
}

.carousel-card-content .fa-solid {
    color: #F6973F;
}

/* slider style end */


/* Footer style start */

footer {
    background-color: #0C111F;
}

.footer-form input {
    background: #1F2431;
    border: none;
    padding: 10px 35px;
}

footer .custom-btn {
    background: #5243C2;
    border: none;
    color: #fff;
}

/* Footer style end */


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {
    .price-card {
        padding: 100px;
    }
}